<app-header></app-header>
<div>
  <img src="assets/img/banner-supermarket.jpg" alt="" class="banner d-block w-100">
  <br><br>   

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card" >
          <img src="assets/img/Home.png" class="homegg card-img-top " alt="Inicio del sitio web">
          <div class="card-body">
            <h5 class="card-title">Home</h5>
            <p class="card-text">Esta opción te llevará a la página principal del sitio.</p>
            <a [routerLink]="['/home']" class="btn btn-primary">Ir...</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" >
          <img src="assets/img/products.jpg" class="productsgg card-img-top" alt="Inicio del sitio web">
          <div class="card-body">
            <h5 class="card-title">Productos</h5>
            <p class="card-text">Esta opción te llevará a la página de administración del catálogo de productos.</p>
            <a [routerLink]="['/productos']" class="btn btn-primary">Ir...</a>
          </div>
        </div>
      </div>
      <div *ngIf="isAdminCard" class="col-md-4">
        <div class="card">
          <img src="assets/img/useradmin.jpg" class="usersgg card-img-top" alt="Inicio del sitio web">
          <div class="card-body">
            <h5 class="card-title">Catálogo de usuarios</h5>
            <p class="card-text">Esta opción te llevará a la página de administración de usuarios.</p>
            <a [routerLink]="['/usuarios']" class="btn btn-primary">Ir...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
