/*==============================
Start Brand Carousel Area
================================*/

.brand-logo-area {
  .single-brand-item {
    border: 1px solid $light-white;
    padding: 10px;
    @include transition(0.4s);

    &:hover {
      border-color: darken($light-white, 5%);
      cursor: pointer;
    }

    img {
    }
  }
}