/*==============================
Start Shop Page Content
================================*/
.shop-page-content-wrap {
  .products-settings-option {
    background-color: #eeeeee;
    border: 1px solid #eaeaea;
    padding: 10px 15px;
    @include justify-content(space-between);
    @include align-items(center);

    .show-items {
      @include font-noline(16);
    }
  }
}

.shop-page-products-wrap {
  margin: 50px 0 0;

  .products-wrapper.products-gird {
    margin-top: 0;
  }
}

.product-view {
  margin-right: 20px;
  li {
    background-color: $white;
    @include font-noline(20);
    outline: 1px solid lighten($gray-color, 20%);
    padding: 3px 10px;
    cursor: pointer;
    @include transition(0.4s);

    &.current {
      color: $brand-color;
    }

    .fa-bars {
      padding-top: 1px;
    }
  }
}

.product-sort_by, .product-per-page {
  label {
    font-weight: 600;
    @include font-noline(13);
    margin: 0;
    margin-right: 10px;
  }
}

.product-per-page {
  .nice-select {
    width: 60px;
  }
}