<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Información del usuario</h1>
      <p class="col-md-6 fs-4"><strong>Nombre:</strong> {{ infoUsuarioLogueado.nombreUsuarioDetalle }} {{ infoUsuarioLogueado.apellido1UsuarioDetalle }} </p>
      <p class="col-md-6 fs-4"><strong>Correo:</strong> {{ infoUsuarioLogueado.correoUsuarioDetalle }} </p>
      <p class="col-md-6 fs-4"><strong>Nombre de usuario:</strong> {{ usuario.nombreUsuario }} </p>
    </div>
  </div>
</div>
