<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper">
    <div class="container">
        <!--== Checkout Page Content Area ==-->
        <div class="row">
            <!-- Checkout Editar/Crear Producto -->
            <div class="col-lg-6 ">
                <div class="checkout-billing-details-wrap">
                    <h2>Editar/Crear Producto</h2>
                    <div class="billing-form-wrap">
                        <form action="#">
                            <div class="row">
                                
                                    <div class="single-input-item">
                                        <label for="f_name" class="required">Imagen</label>
                                        <input type="image">
                                        <input type="file" id="file"/>
                                    </div>
                               
                            </div>

                            <div class="single-input-item">
                                <label for="nombre" class="required">Nombre del Producto</label>
                                <input type="text" id="nombre" placeholder="Nombre" />
                            </div>

                            <div class="single-input-item">
                                <label for="serial">Serial</label>
                                <input type="text" id="serial" placeholder="Serial" />
                            </div>

                            <div class="single-input-item">
                                <label for="categoria" class="required">Categoria</label>
                                <select formControlName="catCategorias">
                                    <option *ngFor="let categoria of listaCategorias" [ngValue]="categoria.idCategoria">
                                        {{ categoria.nombreCategoria }}
                                    </option>
                                </select>
                            </div>

                            <div class="single-input-item">
                                <label for="descripcion" class="required">Descripcion</label>
                                <input type="text" id="descripcion" placeholder="Descripcion" />
                            </div>

                            <div class="single-input-item">
                                <label for="cantidad" class="required">Cantidad</label>
                                <input type="number" id="cantidad" placeholder="0" />
                            </div>

                            <div class="single-input-item">
                                <label for="unidad" class="required">Unidad de Medida</label>
                                <select formControlName="catUnidadMedida">
                                    <option *ngFor="let unidadMedida of listaUnidadMedida" [ngValue]="unidadMedida.idUnidadMedida">
                                        {{ unidadMedida.nombreUnidadMedida }}
                                    </option>
                                </select>
                            </div>

                            <div class="single-input-item">
                                <label for="precio">Precio Unitario</label>
                                <input type="text" id="precio" placeholder="0.0" />
                            </div>
                            <div class="single-input-item">
                                <button class="btn">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--== Checkout Page Content End ==-->
    </div>
</div>
<!--== Page Content Wrapper End ==-->
