.footer-bttom-area {
    background-color: #6bc5b2;
}

.text-right{
    text-align: right;
}

@media only screen and (max-width: 383px) {
    .textDerechos{
        margin-top: 5px;
        text-align: center;
    }
}