<!--== Start Footer Area ==-->
<footer id="footer-area" class="" >

    <!-- Footer Bottom Area -->
    <div class="footer-bttom-area">
        <div class="container">
            <div class="row">
                <!-- Copyright Text Area -->
                <div class="col-md-7 m-auto text-center text-md-left order-last order-md-first">
                    <p class="text-white fw-bold text-right">&copy; Todos los derechos son reservados.</p>
                </div>
                <!-- Copyright Text Area -->
               

                <!-- Payment Method Area -->
                <div class="col-md-4 m-auto text-center text-md-right">
                    <!-- Social Icons Area Start -->
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                    <!-- Social Icons Area End -->
                </div>
                <!-- Payment Method Area -->
            </div>
        </div>
    </div>
    <!-- Footer Bottom Area -->
</footer>
<!--== End Footer Area ==-->
