<div class="container">
    <div class="row">
        <div class="col-lg-6 mt-3">
            <h2 class="mt-1">Nuevo usuario</h2>
            <form action="#" method="post">
                <div class="single-input-item">
                    <input type="text" placeholder="Nombre de usuario" required />
                </div>
                <div class="single-input-item">
                <select aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  </div>

                <div class="single-input-item">
                    <input type="text" placeholder="Nombre" required />
                </div>

                <div class="single-input-item">
                    <input type="text" placeholder="Apellidos" required />
                </div>               

                <div class="single-input-item">
                    <input type="password" placeholder="Contraseña" required />
                </div>                

                <div class="single-input-item">
                    <button class="btn">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>