<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper">
    <div class="container">
        <!-- Productos Page Content Start -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Productos Table Area -->
                <div class="cart-table table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="pro-imagen">Imagen</th>
                                <th class="pro-nombre">Nombre</th>
                                <th class="pro-serial">Serial</th>
                                <th class="pro-categoria">Categoria</th>
                                <th class="pro-descripcion">Descripcion</th>
                                <th class="pro-cantidad">Cantidad</th>
                                <th class="pro-precioUnitario">Precio Unitario</th>
                                <th class="pro-editar">Editar</th>
                                <th class="pro-eliminar">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="pro-imagen"><a href="#"><img class="img-fluid"
                                            src="assets/img/product-1.jpg" alt="Product" /></a></td>
                                <td class="pro-nombre"><a href="#">Zeon Zen 4 Pro</a></td>
                                <td class="pro-serila"><span>$295.00</span></td>
                                <td class="pro-categoria"><span>In Stock</span></td>
                                <td class="pro-descripcion"><span>$295.00</span></td>
                                <td class="pro-cantidad"><span>$295.00</span></td>
                                <td class="pro-precioUnitario"><span>$295.00</span></td>
                                <td class="pro-editar"><a href="#"><i class="fa fa-pencil-square-o"></i></a></td>
                                <td class="pro-eliminar"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr>
                                <td class="pro-imagen"><a href="#"><img class="img-fluid"
                                            src="assets/img/product-2.jpg" alt="Product" /></a></td>
                                <td class="pro-nombre"><a href="#">Aquet Drone D 420</a></td>
                                <td class="pro-serial"><span>$275.00</span></td>
                                <td class="pro-categoria"><span>In Stock</span></td>
                                <td class="pro-descripcion"><span>$295.00</span></td>
                                <td class="pro-cantidad"><span>$295.00</span></td>
                                <td class="pro-precioUnitario"><span>$295.00</span></td>
                                <td class="pro-editar"><a href="#"><i class="fa fa-pencil-square-o"></i></a></td>
                                <td class="pro-eliminar"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr>
                                <td class="pro-imagen"><a href="#"><img class="img-fluid"
                                            src="assets/img/product-3.jpg" alt="Product" /></a></td>
                                <td class="pro-nombre"><a href="#">Game Station X 22</a></td>
                                <td class="pro-serial"><span>$295.00</span></td>
                                <td class="pro-categoria"><span>Stock Out</span></td>
                                <td class="pro-descripcion"><span>$295.00</span></td>
                                <td class="pro-cantidad"><span>$295.00</span></td>
                                <td class="pro-precioUnitario"><span>$295.00</span></td>
                                <td class="pro-editar"><a href="#"><i class="fa fa-pencil-square-o"></i></a></td>
                                <td class="pro-eliminar"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Productos Page Content End -->
    </div>
</div>
<!--== Page Content Wrapper End ==-->
