<app-header></app-header>
<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper">
    <div class="container">
        <!-- Productos Page Content Start -->
        <div class="row">
            <div class="col-md-12">
              <form autocomplete="off" [formGroup]="busqProdForm">
                <div class="filtros d-flex">
                        <input class="form-control" type="search" placeholder="Buscar producto" aria-label="Search" formControlName="termBusqueda">
                    <ul class="mr-auto d-flex">
                      <li>&nbsp;</li>
                        <li class="nav-item">
                        <button class="nav-link btn" [routerLink]="['/productos']" (click)="buscarProductos()" title="Buscar"><span class="fa fa-search"></span> <span class="sr-only">(current)</span></button>
                        </li>
                        <li>&nbsp;</li>
                        <li class="nav-item">
                        <button class="nav-link btn" (click)="exportAsXLSX()" title="Exportar csv"><span class="fa fa-download"></span> <span class="sr-only">(current)</span></button>
                        </li>
                        <li>&nbsp;</li>
                        <li class="nav-item">
                            <button class="nav-link btn"><a [routerLink]="['/editaProducto']" title="Añadir producto"><span class="fa fa-plus"></span></a></button>
                        </li>
                    </ul>
                </div>
              </form>

                <div class="row" *ngIf="cargando">
                    <div class="col-12">
                        <div class="alert alert-info text-center">
                            <h4 class="alert-heading">Cargando</h4>
                            <i class="fa fa-spin fa-refresh fa-2x"></i>
                            <p class="mb-0">Por favor espere</p>
                        </div>
                    </div>
                </div>


                <!-- Productos Table Area -->

                <div *ngIf="!cargando" class="cart-table table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="pro-imagen">Imagen </th>
                                <th class="pro-nombre" (click)="sort('nombreProducto')">Nombre <i class="fa fa-chevron-down"></i></th>
                                <th class="pro-serial" (click)="sort('serialProducto')">Serial</th>
                                <th class="pro-categoria" (click)="sort('nombreCategoria')">Categoria <i class="fa fa-chevron-down"></i></th>
                                <th class="pro-descripcion" (click)="sort('descripcionProducto')">Descripcion</th>
                                <th class="pro-cantidad" (click)="sort('cantidadProducto')">Cantidad</th>
                                <th class="pro-unidad" (click)="sort('nombreUnidadMedida')">Unidad de Medida <i class="fa fa-chevron-down"></i></th>
                                <th class="pro-precioUnitario" (click)="sort('precioUnitario')">Precio Unitario <i class="fa fa-chevron-down"></i></th>
                                <th class="pro-editar">Editar</th>
                                <th class="pro-eliminar">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of listaProductos">
                                <td class="pro-imagen"><a href="#"><img class="img-fluid"
                                            src="assets/img/product-1.jpg" alt="Product" /></a></td>
                                <td class="pro-nombre">{{ producto.nombreProducto }}</td>
                                <td class="pro-serila">{{ producto.serialProducto }}</td>
                                <td class="pro-categoria">{{ producto.idCategoria.nombreCategoria }}</td>
                                <td class="pro-descripcion">{{ producto.descripcionProducto }}</td>
                                <td class="pro-cantidad">{{ producto.cantidadProducto }}</td>
                                <td class="pro-unidad">{{ producto.idUnidadMedida.nombreUnidadMedida }}</td>
                                <td class="pro-precioUnitario">{{ producto.precioUnitario }}</td>
                                <td class="pro-editar"><a routerLink="/editaProducto"><i class="fa fa-pencil-square-o"></i></a></td>
                                <td class="pro-eliminar"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Productos Page Content End -->
    </div>
</div>
<!--== Page Content Wrapper End ==-->
